<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%=stylesheet_link_tag 'application'%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <div class='calculator'>
      <div class='display backlight'>
        <%=render '/layouts/open' %>
       </div>
        <section class='whiteboard'>
        <%= yield %>

        </section>
    </div>
  </body>
</html>
