<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%=stylesheet_link_tag 'application'%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <div class='calculator'>
      <div class='display backlight'>
      <center><%=link_to "ENTER", new_user_path %></center>
       </div>
        <%= yield %>

        <section class="app">
    <aside class="sidebar">
         <header>
         <br>
      </header>
    <nav class="sidebar-nav">
 <br>
 <br>
 <br>
      <ul>
        <li>
          <a href="#"><i class="ion-bag"></i> <span></span></a>
          <ul class="nav-flyout">
            <li><b><u>Adjustments</u></b>
            </li>
            <li>
              <a href="#"><i class="ion-ios-clock-outline"></i>By Occasion</a>
            </li>
            <li>
              <a href="#"><i class="ion-android-star-outline"></i>By Manufacturer</a>
            </li>
            <li>
              <a href="#"><i class="ion-heart-broken"></i>By Aisle</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="ion-ios-settings"></i> <span class="">Locator</span></a>
          <ul class="nav-flyout">
            <li>
          </ul>
        </li>
        <li><b><u>Locator</u></b>
        </li>
        <li>
          <a href="#"><i class="ion-ios-medical-outline"></i> <span class="">By Ocassion</span></a>
        </li>
      <li>
      <a href="#"><i class="ion-ios-medical-outline"></i> <span class="">Accessories</span></a>
    </li>
    <li>
    <a href="#"><i class="ion-ios-medical-outline"></i> <span class="">By SKU</span></a>
  </li>

      </ul>
      <ul class="nav-flyout">
            <li>
          </ul>
        </li>
        <li><b><u>Aisle Access</u></b>
        </li>
        <li>
          <a href="#"><i class="ion-ios-medical-outline"></i> <span class=""><small>Login</small></span></a>
        </li>
        <li>
          <a href="#"><i class="ion-ios-medical-outline"></i> <span class=""><small>Add Store</small></span></a>
        </li>
        <li>
        <a href="#"><i class="ion-ios-medical-outline"></i> <span class=""><small>Exit Aisle</small></span></a>
      </li>
      <li>
      <a href="#"><i class="ion-ios-medical-outline"></i> <span class=""></span></a>
    </li>

      </ul>
    </nav>
  </aside>

        </section>
    </div>
  </body>
</html>
